@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.contenedor {
    margin: 0px auto;
    background-color: #fdf5a8;
    padding: 80px;
    height: 60vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    vertical-align: middle;
    h1 {
        margin: 0px;
        font-size: 60px;
    }
    p {
        font-family: 'Roboto', sans-serif;
    }
}

.react {
    padding: 20px 10px;
    width: 320px;
}