@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.contenedor {
    margin: 0px;
    background-color: #FFF9C4;
    height: calc(100vh - 70px - 100px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    vertical-align: middle;
    width: calc(100vw - 150px);
    h1 {
        padding-top: 50px;
        padding-right: 100px;
        margin: 0px;
        font-size: 60px;
    }
    p {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding-right: 100px;
    }
    .react {
        position: relative;
        left: 30px;
        top: 100px;
        padding: 20px 10px;
        width: 200px;
    }
}

