@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Bebas Neue', cursive;
}

